### Localization
d-i debian-installer/language string en
d-i debian-installer/country string IT
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname seen false
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/confirm_static boolean true

### Account setup
d-i passwd/root-password password secretpw123!
d-i passwd/root-password-again password secretpw123!
d-i passwd/make-user boolean false

### Clock and timezone setup
d-i time/zone string Europe/Rome
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server
d-i preseed/late_command string \
    echo 'deb http://deb.debian.org/debian/ bookworm main non-free-firmware' > /target/etc/apt/sources.list; \
    echo 'deb-src http://deb.debian.org/debian/ bookworm main non-free-firmware' >> /target/etc/apt/sources.list; \
    echo 'deb http://security.debian.org/debian-security bookworm-security main non-free-firmware' >> /target/etc/apt/sources.list; \
    echo 'deb-src http://security.debian.org/debian-security bookworm-security main non-free-firmware' >> /target/etc/apt/sources.list; \
    echo 'deb http://deb.debian.org/debian/ bookworm-updates main non-free-firmware' >> /target/etc/apt/sources.list; \
    echo 'deb-src http://deb.debian.org/debian/ bookworm-updates main non-free-firmware' >> /target/etc/apt/sources.list; \
    echo 'PermitRootLogin yes' >> /target/etc/ssh/sshd_config

### Boot loader installation
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

### Finishing up the installation
d-i finish-install/reboot_in_progress note
